body{
    background-color: #fffbf7;
}
h1{
    color: #025157;
}

p{
    color: #8b8b8bcc;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1 rem;
}

button{
    background: bisque;
}