body {
    background-color: #f8fcfa;
    font-family: 'Poppins';
  }
  
  h1 {
    color: #025157;
    text-align: center;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  .header {
    margin: 40px 20px 0;
    font-size: 0;
  }
  
  li {
    display: inline;
    margin: 0 25px;
    font-family: sans-serif;
    height: 45px;
    color: #025157;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }

  .fixes-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f8fcfa;
  }
  
  .logo {
    width: 15%;
  }
  
  .logo > img {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
  }
  
  .actions {
    width: 15%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }

  .actions  a{
    color: #67b54b;
    text-decoration: none;
  }

  .actions  button{
    color: #ffff;
    background: #67b54b;
    font-weight: 14px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    height: 40px;
    border: transparent;

  }

  .main{
    margin-top:400px;
    text-align: center;
  }

  .flex-container{
    display: flex;
    width: 70%;
    margin: 10% auto;
    justify-content: space-between;
  }

  .publish{
    margin-left: 20px;
  }
  .publish h3{
    color: #025157
  }

  .publish p{
    color: #343434
  }

  .video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video img{
    width: 45px;
    height: 45px;
    transform: rotate(30deg);
  }
